<%- include('../../components/header'); -%>
    <main>

        <!--================ register Area =================-->
        <section class="login_part  section_padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3">
                        <%- include("./side_menu") %>
                    </div>

                    <div class="col-lg-9 col-md-9">

                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../../components/footer'); -%>