<div class="demo-only" style="width: 280px;">
    <nav class="slds-nav-vertical" aria-label="Sub page">
        <div class="slds-nav-vertical__section">
            <h2 id="entity-header" class="slds-nav-vertical__title">My Activity</h2>
            <ul aria-describedby="entity-header">
                <li class="slds-nav-vertical__item slds-is-active">
                    <a href="/user/order" class="slds-nav-vertical__action" aria-current="true">Order History</a>
                </li>
                <li class="slds-nav-vertical__item">
                    <a href="javascript:void(0);" class="slds-nav-vertical__action">Whish List</a>
                </li>
                <li class="slds-nav-vertical__item">
                    <a href="javascript:void(0);" class="slds-nav-vertical__action">Recent View</a>
                </li>
                <li class="slds-nav-vertical__item">
                    <a href="javascript:void(0);" class="slds-nav-vertical__action">Downloads</a>
                </li>
            </ul>
        </div>
        <div class="slds-nav-vertical__section">
            <h2 id="folder-header" class="slds-nav-vertical__title">Manage Account</h2>
            <ul aria-describedby="entity-header">
                <li class="slds-nav-vertical__item ">
                    <a href="/user/profile" class="slds-nav-vertical__action">Update Profile</a>
                </li>
                <li class="slds-nav-vertical__item">
                    <a href="javascript:void(0);" class="slds-nav-vertical__action">Add Address</a>
                </li>
                <li class="slds-nav-vertical__item">
                    <a href="javascript:void(0);" class="slds-nav-vertical__action">Update Password</a>
                </li>
            </ul>
        </div>
    </nav>
</div>